@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Maven+Pro:wght@400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    --light-pink: #fcf6fc;
    --brown: #9e6d52;
    --green: #0a846e;
    --green-text: #055647;
    --red: #b93857;

    --maven-pro: "Maven Pro", sans-serif;
    --open-sans: "open-sans", sans-serif;
    --lato: "Lato", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--light-pink);
    width: 100%;
    display: flex;
    justify-content: center;
}

section.container {
    max-width: 1000px;
    background-color: #fff;
    box-shadow: 0 4px 4px #00000040;
    margin-bottom: 5rem;
}


/* /////HEADER///// */

/* Hero section */
header .hero-section {
    display: flex;
}

.hero-logo,
.hero-svgs {
    width: 50%;
}

.hero-logo {
    background: url("assets/hand-dirt.jpg") no-repeat center;
    background-size: cover;
    background-color: #153801;
    display: flex;
    align-items: center;
    justify-content: center;
}




 .burger{
    display: none;
}


.hero-svgs {
    display: flex;
    flex-direction: column;
}

.hero-brown,
.hero-green {
    height: 100%;
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-brown {
    background-color: var(--brown);
}

.hero-green {
    background-color: var(--green);
}

/* 
img.seedling,
img.dig {
    object-fit: contain;
} */

/* Navigation */
nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 4px 4px #03382f1c;
}

nav a {
    text-decoration: none;
    font-family: var(--maven-pro);
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--green-text);
}

/* /////MAIN///// */
main {
    margin: 2rem;
}

/* //Buttons// */
.green-btn {
    height: 100%;
    font-family: var(--open-sans);
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--green);
    color: white;
    border: none;
    cursor: pointer;
    padding: 1rem 1.5rem;
    border-radius: 9px;
    box-shadow: 0px 4px 4px #00000040;
}

.red-btn {
    justify-self: end;
    font-family: var(--open-sans);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    background-color: var(--red);
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 9px;
}

.trash {
    display: none;
}

/* Section info, seeding */
section.info {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.info h1 {
    font-family: var(--maven-pro);
    font-size: 3rem;
    font-weight: 500;
    color: var(--green);
    margin-bottom: 3rem;
}

section.info-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-flex figure {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green);
    border-radius: 50%;
    padding: 1rem;
    width: 23rem;
    height: 23rem;
}

.info-flex figure img {
    width: 60%;
    height: 60%
}

.info-flex article {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.info-flex article h3 {
    font-family: var(--open-sans);
    font-size: 2rem;
    color: #1e1e1e;
}

.info-flex article p {
    font-family: var(--open-sans);
    font-size: 1rem;

}

.info-flex article .green-btn {
    align-self: flex-end;
}

hr {
    border: none;
    background-color: var(--green-text);
    width: 25%;
    height: 3px;
    margin: 4rem 0;
}

/* Section plan plant */

section.plan-plant {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 4rem;
}

.plan-plant h3 {
    font-family: var(--lato);
    font-size: 2rem;
    font-weight: 400;
}

.plan-plant .grid-plant {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.plan-plant .green-btn {
    grid-column: 2 / span 1;
    justify-self: center;

}

.grid-plant article {
    max-height: 407px;
    box-shadow: 3px 4px 4px #00000040;
}

.grid-plant article figure {
    position: relative;
    height: 75%;
}

.grid-plant article figure .plant {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-plant article figure .plant-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.plant-container img {

    height: 60%;
}

.grid-plant .plant-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 25%;
    margin: 0 0.5rem;
}

.plant-text h4 {
    font-family: var(--lato);
    font-size: 1.5rem;
}

.plant-text span:nth-of-type(1) {
    font-family: var(--open-sans);
    font-size: 1rem;
    font-weight: bold;
    text-align: end;
}

.plant-text span:nth-of-type(2) {
    font-family: var(--lato);
    font-size: 1rem;
    font-weight: 200;
}

/* Section info former */
section.info.former {
    margin-bottom: 5rem;
}

.info-flex.former article .green-btn {
    align-self: flex-start;
}

/* Section contact */
footer {
    background: url("assets/plant-hand.avif") no-repeat center;
    background-size: cover;
    background-color: #153801;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

article.contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #000000c9;
}


.contact h1 {

    font-family: var(--maven-pro);
    font-size: 4rem;
    font-weight: 500;
    color: white;
    align-self: center;
    padding: 10rem 0 2rem 0;
}


.contact-wrapper {
    display: flex;

    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    margin: 8rem 0 2rem 0;
    padding: 0 2rem;
}

.phone-wrap,
.email-wrap {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
}

.email-wrap {
    justify-content: flex-end;
}

.phone-wrap span,
.email-wrap span {

    color: white;
    font-family: var(--maven-pro);
    font-size: 0.99rem;
    padding-bottom: 0.1rem;
}


footer figure {
    display: flex;
    align-items: center;
    justify-content: center;

}

section.back-top {
    grid-column: 1 / span 2;
    background-color: white;
    text-align: center;
    padding: 1.5rem 0;
}

.back-top a {
    text-decoration: none;
    font-family: var(--open-sans);
    color: black;
    font-size: 1.5rem;
}


@media (max-width: 600px) {

    body {
        display: block;
        background-color: white;
    }

/* /////header///// */
    header .hero-section {
        flex-direction: column;
    }

    .hero-logo {
        height: 100%;
        flex-direction: column;
    }
    .burger{
        display: block;
        align-self: flex-end;
        margin: 0.5rem 0.5rem 0 0;
    }
    .logo {
        height: 50%;
        width: 50%;
        margin: 10rem 0;
    }

    .hero-logo,
    .hero-svgs {
        width: 100%;
    }

    .hero-svgs {
        flex-direction: row;

    }

    .hero-brown,
    .hero-green {
        width: 100%;
        height: inherit;
    }


    nav {
        display: none;
    }

/* /////Main///// */
    main {
        margin: 2.5rem 1rem 1rem 1rem;
    }

/* //info section// */
    .info h1 {
        font-size: 1.5rem;
    }

    .info-flex {
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .info-flex article {
        width: 100%;
        align-items: center;
    }

    .info-flex article h3 {
        font-size: 1rem;
    }

    .info-flex article p {
        text-align: center;
        font-size: 0.875rem;
    }

    .info-flex article .green-btn,
    .plan-plant .green-btn {
        align-self: center;
        font-size: 1rem;
        padding: 0.6rem 1.2rem;
    }

    .info-flex.former article .green-btn {
        align-self: center;
    }

    .info-flex figure {
        height: 15rem;
        width: 15rem;
    }

    hr {
        width: 60%;
        margin: 2rem 0;
    }

/* //Plan plant section// */
    .plan-plant h3 {
        font-size: 1rem;
    }

    .plan-plant .grid-plant {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-plant article {
        max-height: 220px;
    }

    .grid-plant article figure {
        height: 75%;
    }

    figure .plant-container img {
        height: 50%;
    }

    .grid-plant article .plant-text {
        height: 25%;

    }

    .plant-text span:nth-of-type(1),
    .plant-text span:nth-of-type(2) {
        font-size: 0.625rem
    }

    .plant-text h4 {
        font-size: 0.825rem;
    }

    .plant-text .red-btn {
        display: none;
    }

    .trash {
        display: block;
        border: none;
        background-color: white;
        justify-self: end;
    }

/* ///FOOTER/// */
    footer {
        display: flex;
        flex-direction: column;
    }

    footer figure {
        order: 1;
        margin: 5rem;
    }

    footer .contact {
        order: 2;
    }

    .contact .contact-wrapper {
        padding: 0 0.5rem;
        margin-bottom: 0.5rem;
    }

    .contact-wrapper span {
        font-size: 0.75rem;
        padding-bottom: 0.1rem;
    }

    .contact-wrapper img {
        width: 20%;
    }

    footer section.back-top {
        order: 3;
    }

    .back-top a {
        font-size: 0.75rem;
    }
}